---
title: Udgifter
---

<h1>TEST rendering of table content using Liquid</h1>
{% assign first_cost = site.data.costs[0] %}
First_cost: {{ first_cost }}
<br>
First_cost, forloop.index0:
<br>
{% for cost in first_cost %}
	{{ forloop.index0 }} <br>
{% endfor %}
<br>

{% assign jsonArray = "" %}
{% for cost in first_cost %}
  {% assign jsonElement = '"' | append: cost[0] | append: '"' %} <!-- each key is an 1D array -->
  {% if forloop.first %}
    {% assign jsonArray = jsonElement %} <!-- [ "cost[key]" ] -->
  {% else %}
    {% assign jsonArray = jsonArray | append: ", " | append: jsonElement %} <!-- [ "cost[key]" ], [ "cost[key]" ] -->
  {% endif %}
{% endfor %}
{% assign jsonArray = '[ ' | append: jsonArray | append: ' ]' %} <!-- encapsule the content in {jsonArray} -->

<br>
new json Array - test 36:

<br>
{% assign lstOfKey = "" %}
{% for costKey in first_cost %}
	{% assign lstOfKey = costKey[0] | append: lstOfKey %} <br>
{% endfor %}

{% assign lstOfKey = lstOfKey | split: "," %}
Test lstOfKey:<br>
{{ lstOfKey }}<br>
Test array loop:
{% for val in lstOfKey %}
	{{ forloop.index0 }}: {{ val }} <br>
{% endfor %}







	
<div class="container mt-5">
    <h2>Striped Table Example</h2>
    <table class="table table-striped">
        <thead>
            <tr>
		
			<th>{{ key }}</th>
		
            </tr>
        </thead>
        <tbody>
		<!-- 
		{% for cost in site.data.costs %}
			<tr>
				{% for key in keys %}
					<td>{{ cost[key] }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		-->
        </tbody>
    </table>
</div>

<div id="calc-cost">Tabeloversigt over udgifterne.</div>

<script src="{{ '/assets/js/calc-date.js' | relative_url }}"></script>
<script src="{{ '/assets/js/calc-cost.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

<script>
	const fetchUrlCosts = "{{ '/costs/costs.html' | relative_url }}";
	calcCost(fetchUrlCosts, 'calc-cost'); // Call the function
</script>
