---
title: Udgifter
---

<h1>TEST rendering of table content using Liquid</h1>
{% assign first_cost = site.data.costs[0] %}
First_cost: <pre>{{ first_cost }}</pre>
<br>

{% assign keys = "" %}
{% for key0Value1 in first_cost %}
    {% assign keys = keys | append: key0Value1[0] | append: "," %}
{% endfor %}
<br>
keys before split, loop through keys using for key in keys:
<br>
{% for key in keys %}
	{{ key }}
{% endfor %}
<br>

<br>
keys before split, loop through key using for keys and output the index numbers:
<br>
{% for key in keys %}
	{{ key }}
{% endfor %}
<br>


{% assign keys = keys | split: "," | jsonify %}
keys after split, jsonify: <pre>{{ keys }}</pre>

<br>
after split, jsonify, cost[forloop.index].key: 
<br>
{% for cost in site.data.costs %}
	{% for key in keys %}
		{{ cost[forloop.index].key }}
	{% endfor %}
{% endfor %}


	
<div class="container mt-5">
    <h2>Striped Table Example</h2>
    <table class="table table-striped">
        <thead>
            <tr>
		
			<th>{{ key }}</th>
		
            </tr>
        </thead>
        <tbody>
		<!-- 
		{% for cost in site.data.costs %}
			<tr>
				{% for key in keys %}
					<td>{{ cost[key] }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		-->
        </tbody>
    </table>
</div>

<div id="calc-cost">Tabeloversigt over udgifterne.</div>

<script src="{{ '/assets/js/calc-date.js' | relative_url }}"></script>
<script src="{{ '/assets/js/calc-cost.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

<script>
	const fetchUrlCosts = "{{ '/costs/costs.html' | relative_url }}";
	calcCost(fetchUrlCosts, 'calc-cost'); // Call the function
</script>
