---
title: Begivenheder
---
{% comment %}
How to retrieve data using nested loop
{% for events in site.data.events.2024 %} <!-- arrays of data in json file -->	
	{% for currentArrayData in events %} <!-- accessing the array of current index -->
		{{ forloop.index0 }}: {{ currentArrayData[0] }} <!-- retrieving the name of all the keys for currentArrayData -->
		{{ forloop.index0 }}: {{ currentArrayData[1] }} <!-- retrieving the values of all the key values for currentArrayData -->
	{% endfor %}
{% endfor %}
{% endcomment %}

<h2><u>Tabeloversigt over begivenheder</u></h2>	
<div class="container-fluid overflow-auto" style="max-height: 800px;">
    <table class="table table-sm table-striped table-bordered">
        <thead class="table-info">
            <tr>
		{% for events in site.data.events.2024 limit: 1 %} <!-- only the first array in json file -->	
			{% for currentArrayData in events %} <!-- accessing the array of current index -->
		    		<th>{{ currentArrayData[0] }}</th>  <!-- assigning the name of all the keys from currentArrayData to th element -->
			{% endfor %}
		{% endfor %}	
            </tr>
        </thead>
        <tbody>
		{% for events in site.data.events.2024 %} <!-- all arrays in costs.json -->
			<tr>	
				{% for currentArrayData in events %} <!-- accessing the array of current index -->
					<td>{{ currentArrayData[1] }}</td>  <!-- assigning the value of all the key values from currentArrayData to td element -->
				{% endfor %}
			</tr>
		{% endfor %}
        </tbody>
    </table>
</div>
