
  /* Hide scrollbar */
.custom-img-container::-webkit-scrollbar {
  display: none; /* Works also on mobile */
}

.custom-img-container {
  height: 250px;
  /*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZE8cyigQHUxrfI7uGxFdowyzttqs2Uoc6Zg&s');*/
  background-repeat:  no;
  background-size: cover; 
}

/* fix 100px works best on mobile devices */
/* border styling doesn't work on mobile device */
.custom-img-container img {
  width: 100px; 
  height: 100px;
  /* scroll-snap-align: center; */  /* Snap alignment for scrolling.??? Don't know how this work??? */
  /* scroll-snap-type: x mandatory; */  /* Smooth scrolling behavior.??? Don't know how this work??? */ 
  /* scrollbar-width: none; */    /* Firefox.??? Don't think this is necessary??? */
  /* -ms-overflow-style: none;  */ /* IE and Edge.??? Don't think this is necessary??? */   
}

.custom-img-container img:hover {
  scale: 1.3;
  rotate: 15deg;
  /* translate: 2rem; */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}
