<nav class="navbar navbar-dark bg-dark fixed-top rounded-top border-bottom border-5 border-light">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="/">GD8</a>
      <a class="navbar-brand" href="{{ '/events.html' | relative_url }}">Begivenheder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark w-50 " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <!-- Loop through items in _data/navigation.yml and color the current link red-->
            {% for item in site.data.navigation %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{item.link}}" {% if page.url == item.link %}{% endif %}>{{item.name}}</a>
                </li>    
            {% endfor %}
            
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ekstra
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Har du forslag til forbedring?</a></li>
                <li><a class="dropdown-item" href="#">Har du forslag til indhold?</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Hvad mere skal vi have på hjemmesiden?</a></li>
              </ul>
            </li>
          </ul>
            
<!--
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Søg</button>
          </form>
-->
        </div>
      </div>
    </div>
  </nav>
  <div class="py-5"></div>
 
