.image-row {
scroll-snap-type: x mandatory;  /* Smooth scrolling behavior */ 

-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;    /* Firefox */
}

.image-row img {
width: 30vw; /* Each image takes one-third of the viewport */
height: 70%; /* Maintain aspect ratio */
scroll-snap-align: center;  /* Snap alignment for scrolling */
}

/* Hide scrollbar (optional) */
.image-row::-webkit-scrollbar {
    display: none;
}

.image-row img:hover {
    scale: 1.1;
}