/* Hide scrollbar */
.custom-img-container::-webkit-scrollbar {
    display: none; /* Works on PC not on mobile */
}

/* fix 100px works best on mobile devices */
.custom-img-container img {
    border: 10px solid, black;
    width: 100px; 
    height: 100px;
    scroll-snap-align: center;  /* Snap alignment for scrolling.??? Don't know how this work??? */
    scroll-snap-type: x mandatory;  /* Smooth scrolling behavior.??? Don't know how this work??? */ 
    scrollbar-width: none;    /* Firefox */
    /* -ms-overflow-style: none;  */ /* IE and Edge.??? Don't think this is necessary??? */   
}

.custom-img-container img:hover {
    scale: 1.2;
    border: 30px solid, black;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}